<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd

		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <!--ContractGathering-->
       <bean id="contractGatheringWSImpl" class="com.hbyd.parks.officesys.wsImpl.ContractGatheringWSImpl"/>
       <jaxws:server bus="cxf" id="contractGatheringWS" address="/contractGatheringWS"
                     serviceClass="com.hbyd.parks.ws.officesys.ContractGatheringWS">
              <jaxws:serviceBean>
                     <ref bean="contractGatheringWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--ContractGatheringPostil-->
       <bean id="contractGatheringPostilWSImpl" class="com.hbyd.parks.officesys.wsImpl.ContractGatheringPostilWSImpl"/>
       <jaxws:server bus="cxf" id="contractGatheringPostilWS" address="/contractGatheringPostilWS"
                     serviceClass="com.hbyd.parks.ws.officesys.ContractGatheringPostilWS">
              <jaxws:serviceBean>
                     <ref bean="contractGatheringPostilWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--ContractGatheringLog-->
       <bean id="contractGatheringLogWSImpl" class="com.hbyd.parks.officesys.wsImpl.ContractGatheringLogWSImpl"/>
       <jaxws:server bus="cxf" id="contractGatheringLogWS" address="/contractGatheringLogWS"
                     serviceClass="com.hbyd.parks.ws.officesys.ContractGatheringLogWS">
              <jaxws:serviceBean>
                     <ref bean="contractGatheringLogWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>


       <!--Payment-->
       <bean id="paymentWSImpl" class="com.hbyd.parks.officesys.wsImpl.PaymentWSImpl"/>
       <jaxws:server bus="cxf" id="paymentWS" address="/paymentWS"
                     serviceClass="com.hbyd.parks.ws.officesys.PaymentWS">
              <jaxws:serviceBean>
                     <ref bean="paymentWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--PaymentPostil-->
       <bean id="paymentPostilWSImpl" class="com.hbyd.parks.officesys.wsImpl.PaymentPostilWSImpl"/>
       <jaxws:server bus="cxf" id="paymentPostilWS" address="/paymentPostilWS"
                     serviceClass="com.hbyd.parks.ws.officesys.PaymentPostilWS">
              <jaxws:serviceBean>
                     <ref bean="paymentPostilWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <bean id="paymentLogWSImpl" class="com.hbyd.parks.officesys.wsImpl.PaymentLogWSImpl"/>
       <jaxws:server bus="cxf" id="paymentLogWS" address="/paymentLogWS"
                     serviceClass="com.hbyd.parks.ws.officesys.PaymentLogWS">
              <jaxws:serviceBean>
                     <ref bean="paymentLogWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--Acceptance-->
       <bean id="acceptanceWSImpl" class="com.hbyd.parks.officesys.wsImpl.AcceptanceWSImpl"/>
       <jaxws:server bus="cxf" id="acceptanceWS" address="/acceptanceWS"
                     serviceClass="com.hbyd.parks.ws.officesys.AcceptanceWS">
              <jaxws:serviceBean>
                     <ref bean="acceptanceWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>


       <bean id="acceptancePostilWSImpl" class="com.hbyd.parks.officesys.wsImpl.AcceptancePostilWSImpl"/>
       <jaxws:server bus="cxf" id="acceptancePostilWS" address="/acceptancePostilWS"
                     serviceClass="com.hbyd.parks.ws.officesys.AcceptancePostilWS">
              <jaxws:serviceBean>
                     <ref bean="acceptancePostilWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <bean id="acceptanceExamineWSImpl" class="com.hbyd.parks.officesys.wsImpl.AcceptanceExamineWSImpl"/>
       <jaxws:server bus="cxf" id="acceptanceExamineWS" address="/acceptanceExamineWS"
                     serviceClass="com.hbyd.parks.ws.officesys.AcceptanceExamineWS">
              <jaxws:serviceBean>
                     <ref bean="acceptanceExamineWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <bean id="attachedFileWSImpl" class="com.hbyd.parks.officesys.wsImpl.AttachedFileWSImpl"/>
       <jaxws:server bus="cxf" id="attachedFileWS" address="/attachedFileWS"
                     serviceClass="com.hbyd.parks.ws.officesys.AttachedFileWS">
              <jaxws:serviceBean>
                     <ref bean="attachedFileWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>


       <!--projectRecord-->
       <bean id="projectRecordWSImpl" class="com.hbyd.parks.officesys.wsImpl.ProjectRecordWSImpl"/>
       <jaxws:server bus="cxf" id="projectRecordWS" address="/projectRecordWS"
                     serviceClass="com.hbyd.parks.ws.officesys.ProjectRecordWS">
              <jaxws:serviceBean>
                     <ref bean="projectRecordWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--Expenditure-->
       <bean id="expenditureWSImpl" class="com.hbyd.parks.officesys.wsImpl.ExpenditureWSImpl"/>
       <jaxws:server bus="cxf" id="expenditureWS" address="/expenditureWS"
                     serviceClass="com.hbyd.parks.ws.officesys.ExpenditureWS">
              <jaxws:serviceBean>
                     <ref bean="expenditureWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--Quotation-->
       <bean id="quotationWSImpl" class="com.hbyd.parks.officesys.wsImpl.QuotationWSImpl"/>
       <jaxws:server bus="cxf" id="quotationWS" address="/quotationWS"
                     serviceClass="com.hbyd.parks.ws.officesys.QuotationWS">
              <jaxws:serviceBean>
                     <ref bean="quotationWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <bean id="quotationProjectWSImpl" class="com.hbyd.parks.officesys.wsImpl.QuotationProjectWSImpl"/>
       <jaxws:server bus="cxf" id="quotationProjectWS" address="/quotationProjectWS"
                     serviceClass="com.hbyd.parks.ws.officesys.QuotationProjectWS">
              <jaxws:serviceBean>
                     <ref bean="quotationProjectWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--SoftMaintenance-->
       <bean id="softMaintenanceWSImpl" class="com.hbyd.parks.officesys.wsImpl.SoftMaintenanceWSImpl"/>
       <jaxws:server bus="cxf" id="softMaintenanceWS" address="/softMaintenanceWS"
                     serviceClass="com.hbyd.parks.ws.officesys.SoftMaintenanceWS">
              <jaxws:serviceBean>
                     <ref bean="softMaintenanceWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <bean id="softMaintenanceHandleWSImpl" class="com.hbyd.parks.officesys.wsImpl.SoftMaintenanceHandleWSImpl"/>
       <jaxws:server bus="cxf" id="softMaintenanceHandleWS" address="/softMaintenanceHandleWS"
                     serviceClass="com.hbyd.parks.ws.officesys.SoftMaintenanceHandleWS">
              <jaxws:serviceBean>
                     <ref bean="softMaintenanceHandleWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--HandMaintenance-->
       <bean id="handMaintenanceWSImpl" class="com.hbyd.parks.officesys.wsImpl.HandMaintenanceWSImpl"/>
       <jaxws:server bus="cxf" id="handMaintenanceWS" address="/handMaintenanceWS"
                     serviceClass="com.hbyd.parks.ws.officesys.HandMaintenanceWS">
              <jaxws:serviceBean>
                     <ref bean="handMaintenanceWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--ProductTest-->
       <bean id="productTestWSImpl" class="com.hbyd.parks.officesys.wsImpl.ProductTestWSImpl"/>
       <jaxws:server bus="cxf" id="productTestWS" address="/productTestWS"
                     serviceClass="com.hbyd.parks.ws.officesys.ProductTestWS">
              <jaxws:serviceBean>
                     <ref bean="productTestWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseInput-->
       <bean id="warehouseInputWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseInputWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseInputWS" address="/warehouseInputWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseInputWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseInputWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseInputPro-->
       <bean id="warehouseInputProWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseInputProWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseInputProWS" address="/warehouseInputProWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseInputProWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseInputProWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseOutput-->
       <bean id="warehouseOutputWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseOutputWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseOutputWS" address="/warehouseOutputWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseOutputWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseOutputWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseOutputPro-->
       <bean id="warehouseOutputProWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseOutputProWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseOutputProWS" address="/warehouseOutputProWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseOutputProWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseOutputProWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseProduct-->
       <bean id="warehouseProductWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseProductWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseProductWS" address="/warehouseProductWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseProductWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseProductWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseCompanyIn-->
       <bean id="warehouseCompanyInWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseCompanyInWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseCompanyInWS" address="/warehouseCompanyInWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseCompanyInWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseCompanyInWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseCompanyOut-->
       <bean id="warehouseCompanyOutWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseCompanyOutWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseCompanyOutWS" address="/warehouseCompanyOutWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseCompanyOutWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseCompanyOutWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseApplication-->
       <bean id="warehouseApplicationWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseApplicationWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseApplicationWS" address="/warehouseApplicationWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseApplicationWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseApplicationWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseApplicationPro-->
       <bean id="warehouseApplicationProWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseApplicationProWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseApplicationProWS" address="/warehouseApplicationProWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseApplicationProWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseApplicationProWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouseInfo-->
       <bean id="warehouseInfoWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseInfoWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseInfoWS" address="/warehouseInfoWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseInfoWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseInfoWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--warehouse-->
       <bean id="warehouseWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseWS" address="/warehouseWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>

       <!--WarehouseBorrow-->
       <bean id="warehouseBorrowWSImpl" class="com.hbyd.parks.officesys.wsImpl.WarehouseBorrowWSImpl"/>
       <jaxws:server bus="cxf" id="warehouseBorrowWS" address="/warehouseBorrowWS"
                     serviceClass="com.hbyd.parks.ws.officesys.WarehouseBorrowWS">
              <jaxws:serviceBean>
                     <ref bean="warehouseBorrowWSImpl"/>
              </jaxws:serviceBean>
       </jaxws:server>
</beans>