<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 引入 JDBC 外部配置 -->
    <context:property-placeholder location="classpath:properties/jdbc.properties"/>

    <!-- 配置 Proxool 数据源, 参照 Hibernate.properties -->
    <bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
        <property name="driver"><value>${jdbc.driverClassName}</value></property>
        <property name="driverUrl"><value>${jdbc.url}</value></property>
        <property name="user"><value>${jdbc.username}</value></property>
        <property name="password"><value>${jdbc.password}</value></property>

        <!--debug 跟踪业务流程时，时间较长，为了能够持续 debug, 将连接活跃时间调整为 20 分钟 -->
        <property name="maximumActiveTime"><value>${jdbc.maximumActiveTime}</value></property>
        <property name="maximumConnectionCount"><value>${jdbc.maxPoolSize}</value></property>
        <property name="minimumConnectionCount"><value>${jdbc.minPoolSize}</value></property>
        <property name="prototypeCount"><value>${jdbc.prototypeCount}</value></property>

        <property name="trace"><value>true</value></property>
        <property name="verbose"><value>true</value></property>
    </bean>

    <!--注意：必须使用 AnnotationSessionFactoryBean 才能识别 Hibernate 注解 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="connection.autocommit">false</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>

                <!--
                    Spring 默认将 current_session_context_class 配置为 org.springframework.orm.hibernate3.SpringSessionContext
                    这里就不要再配置为 Hibernate 自己的实现了，否则就重写了 Spring 的默认设定了

                    Enable Hibernate's automatic session context management
                    <prop key="current_session_context_class">thread</prop>
                -->

                <!--如果没有关联引用的表，需要调整抓取深度-->
                <prop key="hibernate.max_fetch_depth">4</prop>

                <!--配置二级缓存: http://ehcache.org/documentation/integrations/hibernate-->
                    <!--二级缓存实现-->
                <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>
                    <!--开启二级缓存: 频繁计算考勤，二级缓存没有益处-->
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                    <!--开启查询缓存-->
                <prop key="hibernate.cache.use_query_cache">true</prop>
                
                <!--Out of the box, Hibernate (as of version 3.5.x) will translate the constraints you have defined for your entities into mapping metadata. For example, if a property of your entity is annotated @NotNull, its columns will be declared as not null in the DDL schema generated by Hibernate.-->
                <!--默认将校验注解转换为 DDL, 设置为 false 可以关闭此功能-->
                <!--<prop key="hibernate.validator.apply_to_ddl">true</prop>-->

                <!--limit the DDL constraint generation to a subset of the defined constraints by setting the property org.hibernate.validator.group.ddl. -->
                <!--The property specifies the comma-separated, fully specified class names of the groups a constraint has to be part of in order to be considered for DDL schema generation.-->
                <!--指定需要生成 DDL 的限制组（constraint group）, 多个组需要使用逗号分隔-->
                <!--<prop key="hibernate.validator.group.ddl"></prop>-->

                <!--TODO 指定缓存的配置路径: 默认使用 classpath:ehcache.xml，尚未测试，暂时注释下面两行-->
                <!--<prop key="net.sf.ehcache.configurationResourceName">EHCache\ehcache.xml</prop>-->
                <!--<prop key="hibernate.cache.provider_configuration_file_resource_path">EHCache\ehcache.xml</prop>-->
            </props>
        </property>

        <!--逐个指定 hbm.xml -->
        <!--Set Hibernate mapping resources to be found in the class path-->
        <!--
        <property name="mappingResources">
            <list>
                <value>classpath:foo/bar/goo.hbm.xml</value>
                ...
            </list>
        </property>
        -->

        <!--扫描包含 hbm.xml 的目录-->
        <!-- Set locations of directories that contain Hibernate mapping resources -->
        <!--
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath*:com/hbyd/parks/domain/attendancesys</value>
            </list>
        </property>
        -->
        <!--逐个指定 annotated entity-->
        <!--Specify annotated classes, for which mappings will be read from class-level annotation metadata.-->
        <!--
        <property name="annotatedClasses">
            <list>
                <value>com.hbyd.parks.domain.attendancesys.Interval</value>
                <value>com.hbyd.parks.domain.attendancesys.Shift</value>
            </list>
        </property>
        -->

        <!--扫描包含 annotated entity 的目录-->
        <!--Specify packages to search using Spring-based scanning for entity classes in the classpath.-->
        <!--<property name="packagesToScan" value="com.hbyd.parks.domain.attendancesys"/>-->

        <!--
            由于考勤系统和支撑平台的表之间有关联，"考勤系统.请假记录" 外键关联 "支撑平台.员工"
            因此需要扫描两个 domain package： attendancesys and supportsys
        -->
        <property name="packagesToScan">
            <list>
                <value>com.hbyd.parks.domain</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 支持注解的事务管理 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>

        <!--TODO 模板缓存尚未测试-->
        <!--Set whether to cache all queries executed by this template.-->
        <!--<property name="cacheQueries" value="true"/>-->
        <!--Set the name of the cache region for queries executed by this template.-->
        <!--<property name="queryCacheRegion" value=""/>-->
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>