<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd

		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Role-->
    <bean id="roleWSImpl" class="com.hbyd.parks.managesys.wsImpl.RoleWSImpl"/>
    <jaxws:server bus="cxf" id="roleWS" address="/roleWS"
                  serviceClass="com.hbyd.parks.ws.managesys.RoleWS">
        <jaxws:serviceBean>
            <ref bean="roleWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!--Dept-->
    <bean id="deptWSImpl" class="com.hbyd.parks.managesys.wsImpl.DeptWSImpl"/>
    <jaxws:server bus="cxf" id="deptWS" address="/deptWS"
                  serviceClass="com.hbyd.parks.ws.managesys.DeptWS">
        <jaxws:serviceBean>
            <ref bean="deptWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!--Priviledge-->
    <bean id="priviledgeWSImpl" class="com.hbyd.parks.managesys.wsImpl.PriviledgeWSImpl"/>
    <jaxws:server bus="cxf" id="priviledgeWS" address="/priviledgeWS"
                  serviceClass="com.hbyd.parks.ws.managesys.PriviledgeWS">
        <jaxws:serviceBean>
            <ref bean="priviledgeWSImpl"/>
        </jaxws:serviceBean>

        <!--
        <jaxws:dataBinding>
            <ref bean="jaxbBinding"/>
        </jaxws:dataBinding>
        -->
    </jaxws:server>

    <!--User-->
    <bean id="userWSImpl" class="com.hbyd.parks.managesys.wsImpl.UserWSImpl"/>
    <jaxws:server bus="cxf" id="userWS" address="/userWS"
                  serviceClass="com.hbyd.parks.ws.managesys.UserWS">
        <jaxws:serviceBean>
            <ref bean="userWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!--ResApp-->
    <bean id="resAppWSImpl" class="com.hbyd.parks.managesys.wsImpl.ResAppWSImpl"/>
    <jaxws:server bus="cxf" id="resAppWS" address="/resAppWS"
                  serviceClass="com.hbyd.parks.ws.managesys.ResAppWS">
        <jaxws:serviceBean>
            <ref bean="resAppWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!--ResMenu-->
    <bean id="resMenuWSImpl" class="com.hbyd.parks.managesys.wsImpl.ResMenuWSImpl"/>
    <jaxws:server bus="cxf" id="resMenuWS" address="/resMenuWS"
                  serviceClass="com.hbyd.parks.ws.managesys.ResMenuWS">
        <jaxws:serviceBean>
            <ref bean="resMenuWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!--ResBtn-->
    <bean id="resBtnWSImpl" class="com.hbyd.parks.managesys.wsImpl.ResBtnWSImpl"/>
    <jaxws:server bus="cxf" id="resBtnWS" address="/resBtnWS"
                  serviceClass="com.hbyd.parks.ws.managesys.ResBtnWS">
        <jaxws:serviceBean>
            <ref bean="resBtnWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <bean id="operLogWSImpl" class="com.hbyd.parks.managesys.wsImpl.OperLogWSImpl"/>
    <jaxws:server bus="cxf" id="operLogWS" address="/operLogWS"
                  serviceClass="com.hbyd.parks.ws.managesys.OperLogWS">
        <jaxws:serviceBean>
            <ref bean="operLogWSImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>



</beans>