<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:properties/ws.properties"/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <http-conf:conduit name="*.http-conduit">
        <http-conf:client AcceptEncoding="gzip" />
    </http-conf:conduit>

    <!--配置服务-->
    <jaxws:client bus="bus_client" id="meetRoomWS" serviceClass="com.hbyd.parks.ws.meetsys.MeetRoomWS" address="${meetsys.ws}/meetRoomWS" />

    <bean id="addAuthInfoInterceptor" class="com.hbyd.parks.common.cxf.interceptor.AddAuthInfoInterceptor">
        <constructor-arg index="0" value="pre-protocol"></constructor-arg>
        <constructor-arg index="1" value="admin"></constructor-arg>
        <constructor-arg index="2" value="admin"></constructor-arg>
    </bean>

    <cxf:bus name="bus_client">
        <cxf:features>
            <bean class="org.apache.cxf.transport.common.gzip.GZIPFeature">
                <property name="threshold" value="0" />
            </bean>
        </cxf:features>

        <cxf:outInterceptors>
            <ref bean="addAuthInfoInterceptor"/>
        </cxf:outInterceptors>
    </cxf:bus>
</beans>
